################################################################################
# Overwrites .env properties for server container
################################################################################

# Exposes profiling on port 6061
PROFILING_PORT=6061
