################################################################################
# Overwrites .env properties for the api container
################################################################################

ENABLE_PROFILING=false
