################################################################################
# Overwrites .env properties for the indexer container
################################################################################

# To not remove the index if it already exists
# If STOP_UPLOAD_IF_INDEX_EXISTS is false, new emails will be added to the index
# without removing the old ones
REMOVE_INDEX_IF_EXISTS=false
# To prevent the indexer from indexing emails if the index already exists
# On re-runs of the container, the index will not be updated
SKIP_UPLOAD_IF_INDEX_EXISTS=true

# To wait 0 seconds after indexing has finished
# Useful when the CPU profiling is running to end gracefully
SLEEP_TIME_AFTER_INDEXING=0
